.section {
    margin: 2rem 0;
    /* padding: 0 5vw; */
    text-align: left;
  }

.heading {
    font-size: 1.8rem;
    font-weight: 600;
    color: #696969;
    margin-bottom: 1.5rem;
    text-align: left;
    padding: 0 3vw;
  }

  @media only screen and (max-width: 880px) {
    .heading {
      font-size: 1.5rem;
    }
}